@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /*background: red;*/

    color: #DCD8D8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #494949;
    margin: auto;
}

.app {
    background: #494949;
    height: calc(100vh - 60px);
    width: calc(100vw - 100px);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-auto-flow: row;
}

.volumetricButton {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    border-radius: 20px;
    border: 1px solid #262626;
    background: #383838;
    transition: 0.5s;

    &:hover {
        border: 1px solid #262626;
        background: #1f1f1f;
    }

    &:active, &.active {
        border-radius: 20px;
        border: 1px solid #F8CB5C;
        background-color: #F8CB5C;
        color: #262626;
    }
}


.icon {
    color: #494949;
    transition: 0.3s;

    &:hover {
        color: #313131;
    }

    &:active {
        color: #F8CB5C;
    }
}

.iconMenuControl {
    color: #DCD8D8;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: #919090;
    }

    &:active {
        color: #F8CB5C;
    }
}